:root {
  --primary-color: #f34506;
  --secondary-color: #17293d;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;
  padding: 2rem 3rem;
  z-index: 10;
  /* Logo Nav*/
  /* links of Nav*/
}
header .menu-logo,
header nav,
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu-logo {
  gap: 1rem;
  color: white;
  line-height: 1.8rem;
}
header .menu-logo .logo-title {
  font-size: 34px;
  font-weight: bold;
}
header .menu-logo .logo-subtitle {
  font-weight: bold;
}
header .nav-links {
  gap: 1rem;
}
header .nav-links a {
  position: relative;
}
header .nav-links li a {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(33, 49, 63, 0.95);
  overflow: hidden;
  transition: all 0.3s ease 0;
}
header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
header .overlay a:hover,
header .overlay a:focus {
  color: var(--primary-color);
}
header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

.menu {
  display: none;
}

.background-scroll {
  background-color: #17293d;
  padding: 0.7rem;
  transition: all 0.2s ease-in-out 0;
}

/* Media Query Nav */
@media screen and (max-width: 800px) {
  header {
    padding: 1rem 1rem;
  }
  .menu-logo > div {
    display: none;
  }
  nav .nav-links {
    display: none;
  }
  .menu {
    display: inherit;
  }
}
@media screen and (max-height: 450px) {
  header .overlay a {
    font-size: 20px;
  }
  header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*End of media query Nav*/
#hero {
  background: url("/Images/Background/background1.png");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero .hero div {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 38px;
  font-weight: 500;
  text-transform: capitalize;
}
#hero .hero div:nth-child(4) {
  font-size: 28px;
}
#hero .hero button {
  background-color: var(--primary-color);
  border: none;
  padding: 0.5rem 4rem;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

#space {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#space .space {
  padding: 5rem 0;
  font-size: 3rem;
  font-weight: bold;
}
#space .space div:nth-child(1) {
  color: var(--secondary-color);
}
#space .space div:nth-child(2) {
  color: var(--primary-color);
}

#nosotros .nosotros {
  display: flex;
}
#nosotros .nosotros .nosotros-text {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  font-weight: 500;
  flex: 1;
}
#nosotros .nosotros .nosotros-logo {
  background-color: var(--secondary-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11rem 0;
  line-height: 3rem;
}
#nosotros .nosotros .nosotros-logo .title {
  color: white;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
}
#nosotros .nosotros .nosotros-logo button {
  background-color: var(--primary-color);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

.nosotros-text {
  font-size: 34px;
}

@media (max-width: 768px) {
  .nosotros-text {
    font-size: medium;
  }
}/*# sourceMappingURL=header.css.map */